/* section 1 styles */
.section-1-div {
    width: 100%;
    height: 244.2px;
    background-color: #F3F3F3;
    display: flex;
    
    justify-content: space-evenly;
}
.s1-div-box {
    
}

.s1-div-box {
 
    background-color: aqua; 
}
@media (max-width: 1024px) {
    
    
    .s1-div-box {
       
    }
}
@media (max-width: 744px) {
    .s1-div-box {
        
        flex-wrap: wrap;
    }
}